.fixed-left {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: auto; 
}

.subContainer {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px) ;
  border-radius: 7px;
  height : 100% ;
}

.subContainer2 {
  background-color: rgba(255, 255, 255,1);
  backdrop-filter: blur(10px) ;
  border-radius: 7px;
}

