body {
  background: rgb(70,169,254);
  background: linear-gradient(94deg, rgba(70,169,254,1) 24%, rgba(238,167,144,1) 74%);   
  padding: 20px;
}

.fixed-left {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: auto; 
}

.subContainer {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px) ;
  border-radius: 7px;
  height : 100% ;
}

.subContainer2 {
  background-color: rgba(255, 255, 255,1);
  backdrop-filter: blur(10px) ;
  border-radius: 7px;
}

